:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --animation-duration: 1001ms;
  --eigengrau: #16161d;
  --cosmic-latte: #fff8e7;
  --purp: #646cff;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  pointer-events: none;
}

.button {
  cursor: pointer;
  color: var(--cosmic-latte);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  padding: 0.6em 1.2em;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #1a1a1a;
  transition: border-color 0.25s;

  &:hover {
    border-color: var(--purp);
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

a {
  color: var(--purp);
  font-weight: 500;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

canvas {
  pointer-events: none;

  &.active {
    pointer-events: all;
  }
}

.loading-screen {
  position: fixed;
  inset: 0;
  z-index: 3;
  display: grid;
  place-content: center;
  background: var(--eigengrau);
  align-content: start;
  padding-top: 6rem;

  &.hide {
    opacity: 0;
    pointer-events: none;
  }

  .start-btn {
    font-size: 2rem;
    border-color: var(--purp);

    &:hover,
    &:focus {
      border-color: var(--cosmic-latte);
    }
  }

  &-inner {
    gap: 2rem;
    display: flex;
    place-content: center;
    place-items: center;
    flex-direction: column;
    max-width: 360px;
    width: 100%;
  }

  &-icon {
    display: block;
    width: 192px;
    height: 192px;
    object-fit: cover;
    object-position: 0;
    animation: loading-animation 4s steps(31) infinite;
  }

  &-bar {
    width: 300px;
    height: 40px;
    border: 2px solid var(--cosmic-latte);
    border-radius: 9vw;
    overflow: hidden;

    &-inner {
      height: 100%;
      width: 0%;
      background: #326e98;
      display: block;
    }
  }

  &-text {
    font-size: 3rem;
    left: 1px;
    align-self: start;
    margin-left: 4rem;
  }
}

.container {
  display: grid;
  place-items: center;
  overflow: hidden;
  position: relative;
}

.score-container {
  position: absolute;
  top: 10%;
  display: grid;
  gap: 0.1rem;
  place-items: center;
  opacity: 1;
  background: white;
  border-radius: 2vw;
  width: calc(100% - 4rem);
  max-width: 360px;
  padding: 0.5rem 1rem 1rem;
  box-shadow: 0px 0px 0px 1000vw rgba(0, 0, 0, 0.5);

  &.hide {
    opacity: 0;
  }

  .score {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 0.8;
    color: var(--eigengrau);

    &-description {
      color: var(--eigengrau);
      font-weight: 600;
      font-size: 1rem;
    }
  }
}

.current-score {
  position: fixed;
  top: 2rem;
  background: rgba(0, 0, 0, 0.3);
  padding: 0.5rem 2rem;
  font-size: 2.5rem;
  border-radius: 1vw;
}

#restart {
  top: auto;
  bottom: 35%;
  font-size: 2rem;
  position: absolute;
  transition: opacity 0.15s;
  border-color: var(--purp);
  transition-property: border-color;

  @media screen and (min-width: 768px) {
    top: 35%;
    bottom: auto;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: var(--cosmic-latte);
  }

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}

.alert {
  top: 30%;
  opacity: 0;
  display: grid;
  font-size: 3rem;
  position: absolute;
  place-items: center;
  transition: 0.3s opacity ease;
  text-shadow: 0 0 6px rgba(0 0 0 / 0.7);

  &::after {
    content: "";
    width: 0;
    top: 50%;
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    transform: translateY(-50%);
    background: radial-gradient(transparent 50%, rgba(#301c41, 0.3) 75%);
  }

  &.highlight {
    opacity: 1;

    &::after {
      animation-name: ripple;
      animation-duration: var(--animation-duration);
    }
  }
}

#congrats {
  max-width: calc(100% - 2rem);
  text-align: center;
}

#introduction {
  position: absolute;
  text-align: center;
  transition: opacity 0.15s;
  width: 100%;
  background-color: #0008;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  transition-duration: 0.15s;
  transition-property: transform, opacity;
  transition-timing-function: ease-in;

  p {
    max-width: 32ch;
    margin-inline: auto;
  }

  &.hide {
    opacity: 0;
    transform: translateY(100%);
  }
}

// Controls
.controls {
  &-btn {
    top: 0;
    right: 0;
    border: 0;
    z-index: 3;
    padding: 0;
    opacity: 0;
    width: 4rem;
    height: 4rem;
    display: flex;
    cursor: pointer;
    position: fixed;
    background: none;
    flex-flow: column nowrap;
    justify-content: space-around;
    --trans-duration: 0.4s;

    &.show {
      opacity: 1;
    }

    &:focus-visible {
      outline: transparent;
    }

    svg {
      transition: rotate var(--trans-duration), transform var(--trans-duration);
    }

    path {
      fill: none;
      stroke: white;
      stroke-width: 10;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 60 31 60 300;
      transition: stroke-dasharray var(--trans-duration),
        stroke-dashoffset var(--trans-duration);
    }

    &[aria-expanded="true"] {
      svg {
        transform: translate(0px, -5px) rotate(45deg);
      }

      path {
        stroke-dashoffset: -90;
        stroke-dasharray: 60 105 60 300;
      }
    }
  }

  &-wrapper {
    position: fixed;
    inset: 0;
    z-index: 2;
    justify-items: center;
    display: grid;
    align-items: start;
    background: var(--eigengrau);
    transform: translateX(100%);
    transition: transform 0.3s;

    &-inner {
      gap: 0.5rem;
      display: grid;
      padding-top: 2rem;
      justify-items: center;
      max-width: 250px;
      width: 100%;

      h2,
      h3 {
        position: relative;
        width: 100%;
        text-align: center;
        background: linear-gradient(
          to right,
          transparent 0%,
          transparent 20%,
          var(--eigengrau) 20%,
          var(--eigengrau) 80%,
          transparent 80%,
          transparent 80%
        );
        &::before,
        &::after {
          content: "";
          position: absolute;
          height: 2px;
          background-color: white;
          width: 50%;
          top: 52%;
          z-index: -1;
        }
        &::before {
          left: 0;
        }
        &::after {
          right: 0;
        }
      }
    }

    .prev-next-wrapper {
      display: flex;
      gap: 0.5rem;
      width: 100%;
    }

    .button {
      background-color: var(--purp);
      transition-duration: 0.25s;
      transition-property: border-color, background-color;
      gap: 1rem;
      display: flex;
      justify-content: space-between;
      max-width: 100%;
      width: 100%;

      i {
        display: block;
        width: 20px;
        height: 20px;
        background: center / cover no-repeat url("");
        transition: background-position 0.2s;
      }

      &:hover,
      &:focus {
        background-color: var(--eigengrau);
        color: var(--cosmic-latte);
      }

      &.play-pause {
        min-width: 11rem;

        i {
          background-repeat: no-repeat;
          background-image: url("/images/icons/play-pause.svg");
          background-size: 190%;
          background-position: right;
        }

        &[aria-label="play music"],
        &[aria-label="play sound effects"] {
          i {
            background-position: left;
          }
        }
      }

      &.highscore-btn {
        i {
          background-image: url("/images/icons/trophy.svg");
        }
      }

      &.background-btn {
        i {
          background-image: url("/images/icons/background.svg");
        }
      }

      &.next,
      &.prev {
        place-content: center;
      }

      &.next {
        i {
          background-image: url("/images/icons/next.svg");
        }
      }

      &.prev {
        i {
          background-image: url("/images/icons/prev.svg");
        }
      }
    }

    input {
      cursor: pointer;
    }

    &[aria-hidden="false"] {
      transform: translateX(0);
    }
  }
}

@keyframes ripple {
  0% {
    width: 0;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    width: 300%;
    opacity: 0;
  }
}

@keyframes loading-animation {
  100% {
    object-position: 100% 0;
  }
}

// Accessibility helper elements
.visually-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

// Utility
.d-none {
  display: none;
}

.hide {
  pointer-events: none;
}
