:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --animation-duration: 1001ms;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  display: grid;
  place-items: center;
  margin: 0;
}

p {
  pointer-events: none;
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  &:hover {
    color: #535bf2;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

canvas {
  pointer-events: none;
  background: url("./images/background.png") bottom / cover no-repeat;

  &.active {
    pointer-events: all;
  }
}

.container {
  display: grid;
  place-items: center;
  overflow: hidden;
  position: relative;
}

.score-container {
  position: absolute;
  top: 10px;
  right: 30px;
  display: grid;
  gap: 8px;
  align-items: center;
  grid-template-columns: auto auto;
  opacity: 1;

  &.hide {
    opacity: 0;
  }

  .score {
    font-size: 2.5rem;
    font-weight: 900;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    line-height: 0.8;

    &-description {
      font-size: 1rem;
      text-align: right;
    }
  }

  #score {
  }

  #high-score {
  }
}

#restart {
  top: 40%;
  position: absolute;
  transition: opacity 0.15s;

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}

.alert {
  top: 20%;
  opacity: 0;
  display: grid;
  font-size: 3rem;
  position: absolute;
  place-items: center;
  transition: 0.3s opacity ease;
  text-shadow: 0 0 6px rgba(0 0 0 / 0.7);

  &::after {
    content: "";
    width: 0;
    top: 50%;
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    transform: translateY(-50%);
    background: radial-gradient(transparent 50%, rgba(#659f1c, 0.3) 75%);
  }

  &.highlight {
    opacity: 1;

    &::after {
      animation-name: ripple;
      animation-duration: var(--animation-duration);
    }
  }
}

#perfect {
}

#congrats {
  max-width: calc(100% - 2rem);
  text-align: center;
}

#introduction {
  position: absolute;
  text-align: center;
  transition: opacity 0.15s;
  width: 100%;
  background-color: #0008;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  transition-duration: 0.15s;
  transition-property: transform, opacity;
  transition-timing-function: ease-in;

  p {
    max-width: 32ch;
    margin-inline: auto;
  }

  &.hide {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes ripple {
  0% {
    width: 0;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    width: 300%;
    opacity: 0;
  }
}
